*{
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.navBox{
    box-sizing: border-box;
    display : grid;
    grid-template-columns: repeat(3,1fr);
    height : 60px;
    width : 100%;
    border : 1px solid black;
    position: fixed;
    background-color: white;
}

.navBox div{
    border : 1px solid black;
}

.navBox div:hover{
    background-color: black;
    color : white;
}

.navBox div p{
    padding-left: 20px;
    font-weight: 100;
    font-size: 15px;
}


.slogan-container{
    display : grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px;
    height : 250px;
   
}

.quote{
    grid-column: 2/3;
    border-radius: 1px solid black;
    margin-top : 130px;
    margin-left: 20px;
    font-weight: 100;
    font-size: 15px;
}

/* second Navbar */

.sub-navBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 60px;
}

.sub-navBox div{
    border: 1px solid black;
}

.sub-navBox div p{
    padding-left: 20px;
    font-weight: 100;
    font-size: 15px;
    height : 100%;
    width : 100%;
}

#s2 input {
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

#s3{
    padding-left: 150px;
}

#s3:hover{
    background-color: black;
    color : white;
}

/* sub nav box*/
.sub-navBox1{
    display: grid;
    width : 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 140px;
}

.sub-navBox1 div{
    border-right: 1px solid black;
}

#s5,#s6{
    border : none;
}

#s5{
    padding-top : 20px;
    padding-left : 6px;
}

#s5 a{
    color : black;
}

#s5 a:hover{
    color : white;
    background-color: black;
}

/*image section*/
.img-section{
    display: grid;
    grid-template-columns: repeat(3 , 507px);
    grid-auto-rows: 500px;
}

.card{
    color: white;
    background-color: white;
    border : 1px solid black;
}

.card:hover{
    background-color: black;
    cursor: pointer;
}

img{
    padding : 0px 60px;
}

.card p{
    padding-left: 20px;
}

/*footer*/
.footer-container{
    margin-top: 200px;
    margin-bottom: 400px;
    display : grid;
    grid-template-columns: repeat(3 , 1fr);
    padding : 0px 20px;
}

.footer-r1-c1 nav , .footer-r1-c2 nav , .footer-r1-c3 p{
    padding-top: 20px;
}
.footer-r1-c1 nav ul li ,.footer-r1-c2 nav ul li {
    list-style-type: none;
}

.footer-r1-c1 nav ul li a , .footer-r1-c2 nav ul li a{
    text-decoration: none;
    color : black
}

.footer-container p{
    font-weight: 100;
    font-size: 15px;
}

